body {
  transition: all 1s ease;
}

.wrap {
  color: #eee;
  font-family: monospace;
  bottom: 5%;
  left: 5%;
  position: absolute;
}

footer a {
  text-decoration: none;
  color: #eee;
  border-bottom: 1px dotted #eee;
}
